.book {

}
.book-header {
  color: blue;
}

.book-sidebar {
  color: plum;
}

.book-sidebar-header {
  color: brown;
}

.chapter {
  color: brown;
}

.chapter-header {

}

.chapter-footer {
    font-style: italic;
}

.container {
  display: inline-block;
  margin-right: 25px;
  width: 200px;
  height: 100px;
  background: red;
}

.first-box{
  background-color: red;
}

.second-box{
  background-color: yellow;
}

.third-box{
  background-color: green;
}

